name: Deploy Backend to Railway

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Deploy to Railway
        uses: railwayapp/railway-github-action@v2
        with:
          serviceId: 579e9ae4-1544-4dde-9398-3b7918e0e1b3
        env:
          RAILWAY_TOKEN: ${{ secrets.RAILWAY_TOKEN }}
